@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800');
html {
    font-family: 'Open Sans', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(244, 244, 244);
    background-size: 100%;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.42857143;
    
}
